### Python Fundamentals

In [1]:
print('hello my first python class')

hello my first python class

In [4]:
x = 'Harry'

<b> We have two kinds of data types in python  </b>
    <li> Single elements
    <li> Collections

Which ones are the single elements ?

<li> Integers
  <li> Floats
      <li> Strings

What are the collections?

<li>Tuples
<li>Lists
<li>Dictionaries

In [6]:
x = 1

In [12]:
y = 1.0

In [13]:
z = '1'

In [16]:
shopping_list = ['Apples','Oranges','Peanut Butter']

In [18]:
shopping_list[0]

'Apples'

In [19]:
contact_book = {'James':'james@gmail.com','hannah':'hannah@gmail.com'}

# Variables

A variable is .... names that have been assinged a specific values

In [23]:
x = 12

In [24]:
print(x,y)

12 1.0

# Common types code along

In [25]:
x = 1.0

In [26]:
type(x)

float

In [27]:
y = 1

In [28]:
type(y)

int

# Operators

In [34]:
#additions
print(1+2)
#substractions
print(1 -2)
#multiplications
print(1 * 2)
#division
print(1 / 2)

3
-1
2
0.5

In [37]:
#exponential power operator
print(2 ** 3)

8

# Booleans and Boolean Evaluation Operators

#### Using Booleans

Booleans are frequently used to filter data or conditions. Sometimes, we may want all countries with populations greater than 4,000,000 or all people named Bob. Both of these result in a `True` or `False` condition that split our data into the groups we want.

In Python, there are several built-in commands for deciding how to filter results:

- `and`: Are both A and B true?
- `not`: Is A the same as B?
- `or`: Is A or B true?

In [41]:
True and False

False

In [42]:
not False

True

In [43]:
True or False

True

In [44]:
True and True

True

In [45]:
False and False

False

In [46]:
False or False

False

**Comparisons**

- Less than: `<`
- Greater than: `>`
- Less than or equal to: `<=`
- Greater than or equal to: `<=`
- Equals: `==`
- Does not equal: `!=`

In [47]:
2 > 1

True

In [48]:
2 > 1 and 1 > 3

False

In [50]:
1 == 1 # In python equality is

True

### Strings

**What are strings? How would we use them? Can you think of any examples of strings?**

In [51]:
#Why would we want to manipulate strings ?

In [52]:
s = 'Hello World'

In [53]:
#Let's understand what type of data it is
type(s)

str

In [55]:
len(s) # How long ?

11

In [58]:
s2 = s.replace("World", "Harry")

In [59]:
s2

'Hello Harry'

### String Indexing

In some cases, we may want a part of the string (like the first character for alphabetizing or categorizing). Indexing helps us do that.

We can extract characters at specific index locations in a string using indexing.

In [68]:
x + y

2.0

In [70]:
str(x) + s

'1.0Hello World'

## A little demonstration of lists, strings, loops and logic

In [86]:
string = 'hellowmyladys'

In [87]:
len(string)

13

In [88]:
vowels = ['a','e','i','o','u']

In [89]:
for c in string:
    print(c)
    if c in vowels:
        string = string.replace(c, "vowel")
        print(string)

h
e
hvowelllowmyladys
l
l
o
hvvowelwelllvowelwmyladys
w
m
y
l
a
hvvowelwelllvowelwmylvoweldys
d
y
s

'hvvowelwelllvowelwmylvoweldys'

In [83]:
for c in string:
    print(c)

h
e
l
l
o
w
m
y
l
a
d
y
s

# Lists

In [90]:
l = [1,2,3,4]

In [91]:
print(l)

[1, 2, 3, 4]

In [92]:
print(type(l))

<class 'list'>

In [93]:
names = ['Kasim', 'Chiara','Eni']

In [94]:
print(names)

['Kasim', 'Chiara', 'Eni']

In [98]:
Kantar = ['Kasim','Lawrence','Chiara','Kostas','Beth','Omiros','Eni','Shreya','Amy N','Amy L','Oscar']

In [100]:
len(Kantar)

11

In [101]:
Kantar.append('Harry')

In [102]:
Kantar

['Kasim',
 'Lawrence',
 'Chiara',
 'Kostas',
 'Beth',
 'Omiros',
 'Eni',
 'Shreya',
 'Amy N',
 'Amy L',
 'Oscar',
 'Harry']

In [107]:
Kantar[0:3][1][0:3]

'Law'

In [108]:
#Lists dont' have to be the same datatype

In [111]:
l = [1, 'a',' 1.0', 1-1j]

In [110]:
print(l)

[1, 'a', ' 1.0', (1-1j)]

In [112]:
print(range(10))

range(0, 10)